/* general styling rules */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

/* define colors that you will use througout this page */
/*   The dard brown color (#54433A) is the primary color on which the others are based on mycolor.space  */
:root {

    --color-gen-grad-yellow: #F9F871;
    --color-skip-grad-red: #F1797F;
    --color-spot-green: #00C9AA;
    --color-squash-purple: #7A5174;

    --color-classy-dark-brown: #54433A;
    --color-classy-light-brown: #CAA38E;
    --color-classy-medium-brown: #867369;
    --color-classy-dark-green: #394B3A;
    --color-classy-light-green: #697C6A;

    --color-primary: #54433A;
    --color-natural-orange: #DA763A;
    --color-dark-discreet-brown: #402e32;
    --color-button-background: #0b0809;
    --color-light-white: #FFF6ED;

    --color-yoga-beginner: var(--color-classy-dark-brown);
    --color-yoga-ashtanga: var(--color-classy-light-green);
    --color-yoga-vinyasa: var(--color-spot-green);

}

/* styling of the navigation elements */
.main-nav {
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    justify-content: center;
    overflow: hidden;
    gap: 0;
}

.main-nav>li {
    align-self: center;
    padding: 20px 10px;
}

/* space navigation items a bit more for large mobile/small tablet  */
@media only screen and (min-width: 500px) {
    .main-nav>li {
        padding: 20px 15px;
    }
}

.nav-background h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.25rem;
    padding-top: 1rem;
}

nav a {
    text-align: center;
    font-size: 0.9rem;
    text-decoration: none;
    color: black;

}

.no-wrap {
    flex-shrink: 0;
    padding: 2px 0.5rem;
}

.nav-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}


/* styling of the logo */
.nav-background img {
    flex-shrink: 0;
    flex-grow: 0;
    width: 50%;
    min-width: 180px;
    max-width: 250px;
    padding-top: 10px;
}

/* highlight the nav elements in the navbar  */
.nav-element {
    color: black;
}

.nav-element:hover {
    color: var(--color-natural-orange);
}

/* highlight the current page too in in the navbar  */
.nav-element[aria-current="page"] {
    text-decoration: underline;
}

/* make navigation bar stick to top of screen */
header {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}

/* increase size of navigation elements on desktop screens */
@media only screen and (min-width: 768px) {

    .main-nav {
        gap: 5rem;

    }

    nav a {
        font-size: 1rem;
    }

    nav h1 {
        font-size: 1rem;
    }
}

/* These are the imported fonts from google fonts  */
body {
    font-family: 'Montserrat Alternates', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 250%;
}

h2,
h3 {
    font-family: 'Lato', sans-serif;
    font-size: 150%;
}

h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

p {
    max-width: 60ch;
}


/* make additional rules for styling - to not use h1,h2,h3 for styling from an accesibility view */
.h2-like {
    line-height: 2;
    font-size: 180%;
    font-weight: bold;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.h3-like {
    line-height: 2;
    font-size: larger;
    font-weight: normal;
    padding: 60px 0 40px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}

/* add hero image section for mobile -- leave 117px margin to top to leave space for navbar */
.image {
    display: flex;
    margin-top: 117px;
    min-height: 600px;
    background-color: var(--color-light-green);
    justify-content: center;
    align-items: flex-start;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .5);
}

.hero-image {
    background: url("../images/hero-mobile.jpg") no-repeat center center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    min-height: 300px;
    text-align: center;
    padding: 0 30px;
}

/* general style of the buttons on this page  */
.button {
    color: white;
    font-weight: 900;
    font-size: 110%;
    line-height: 1;
    padding: 7px 20px;
    border-radius: 38.779998779296875px;
    min-width: 100px;
}

.hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
}

.hero-buttons button {
    min-width: 200px;
}

/* for larger mobiles, increase buttons  */
@media only screen and (min-width: 450px) {

    .hero-buttons {
        flex-direction: row;
        max-width: 90%;
        gap: 2rem;
    }

    .hero-buttons button {
        min-width: 200px;
    }
}

/* use a larger hero image for larger screens */
@media only screen and (min-width: 768px) {
    .hero-image {
        background: url("../images/hero-large-compressed.jpg") no-repeat center center;
        font-size: 110%;
    }
}

/* increase fonts for desktop screens for the hero image */
@media only screen and (min-width: 1000px) {

    .hero-buttons button {
        min-width: 400px;
    }

    .hero-image {
        font-size: 120%;
    }
}

/* style the buttons on hero section  */
.hero-button-1 {
    background-color: transparent;
    border: 4px solid var(--color-natural-orange);
}

.hero-button-1:hover {
    background-color: var(--color-natural-orange);
    color: var(--color-button-background);
    border: 4px solid var(--color-natural-orange);
}


.hero-button-2 {
    background-color: var(--color-natural-orange);
    color: var(--color-button-background);
    border: 4px solid var(--color-natural-orange);
}

.hero-button-2:hover {
    background-color: var(--color-natural-orange);
    color: white;
    background-color: transparent;
    border: 4px solid var(--color-natural-orange);
}

@media only screen and (min-width: 500px) {
    #hero-text h1 {
        font-weight: 400;
        font-size: 3.0rem;
    }
}

/* change display of hero image and text on larger screens  */
@media only screen and (min-width: 768px) {

    .hero-image {
        width: 100%;
        background-color: var(--color-light-green);
        background-size: cover;
    }

    #hero-text h1 {
        font-weight: 400;
        font-size: 3.5rem;
    }

    #hero-text p {
        font-size: 1.5rem;
        font-weight: 300;
    }

    #hero-text button {
        font-weight: 500;
        font-size: 120%;
    }

}

/* style of ethos section */
.ethos-section {
    width: 90%;
    text-align: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    font-size: 120%;
}

.ethos-section p {
    color: rgb(141, 140, 140);
    margin-left: auto;
    margin-right: auto;
}

.ethos-section i {
    color: rgb(141, 140, 140);
}

.intro-item {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding-bottom: 4rem;
    align-self: center;
    max-width: 500px;
}

.intro-background {
    background-image: url("../images/pexels-elina-intro-small.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}


/* style the area that aims to motivate new users to sign up for a free trial  */
.flex-columun-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    padding: 2.5rem 1rem;
    align-items: center;
    color: white;
    line-height: 1.6;
}

.motivate-background {
    background-color: var(--color-squash-purple);
    font-size: 110%;
}

.motivate-button {
    color: white;
    border: 4px solid white;
    background-color: var(--color-squash-purple);
}

.motivate-button:hover {
    background-color: white;
    color: var(--color-squash-purple);

}

/* section with the preview and links to the classes  */
.preview-section {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    /* max-width: 1400px; */
    justify-self: center;
    margin-bottom: 4rem;
}

.preview-section h2 {
    font-size: 180%;
    padding: 2.5rem 0;
    text-align: center;
}

.preview-section>a {
    align-self: center;
    width: 90%;
}

/* for mobile screens, stack on on top of each other */
.responsive-preview {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
}

.responsive-preview>* {
    line-height: 1.7;
}


/* increase the preview images for desktop screens */
@media only screen and (min-width: 768px) {
    .responsive-preview {
        flex-direction: row;
        flex-wrap: wrap;
        min-width: 200px;
        max-width: 1400px;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .responsive-preview>* {
        align-self: center;
    }

    .preview-item {
        max-width: 400px;
    }
}

/* flexbox where the three yoga classes are living in */
.preview-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    padding: 0.5rem 0;
    align-self: center;
    max-width: 500px;
}

/* on larger screens make the classes boxes a little smaller */
@media only screen and (min-width: 800px) {
    .preview-item {
        max-width: 350px;
    }
}

@media only screen and (min-width: 1000px) {
    .preview-item {
        max-width: 420px;
    }
}

.preview-item a {
    align-self: center;
    width: 100%;
}

.columnar-flexbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-self: center;
    justify-self: center;
    min-height: 300px;
    width: 100%;
    align-self: center;
    line-height: 1.5;
    color: white;
    padding-bottom: 0.5rem;
}

.columnar-flexbox h2 {
    padding: 1.1rem 0;
    font-size: 180%;
}

.classes-background-1:nth-child(1) {
    background-image:
        linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%),
        url("../images/classes-1-small.jpg");
    background-position: center center;
    background-repeat: no-repeat;
}

.classes-background-2:nth-child(1) {
    background-image:
        linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%),
        url("../images/classes-2-small.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

.classes-background-3:nth-child(1) {
    background-image:
        linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%),
        url("../images/classes-3-small.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

.classes-time-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

/* specific style of the prices flexbox   */

.prices {
    max-width: 300px;
    justify-content: center;
    align-self: center;
}

.prices-background-1 {
    background-color: var(--color-natural-orange);
    color: var(--color-dark-discreet-brown);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.prices-background-2 {
    background-color: var(--color-spot-green);
    color: var(--color-dark-discreet-brown);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.prices-background-3 {
    background-color: #F1797F;
    color: var(--color-dark-discreet-brown);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.prices-outer-layout {
    justify-content: space-between;
    line-height: 1.5;
    text-align: center;
    min-height: 200px;
    max-width: 300px;
}

.prices-outer-layout h3 {
    letter-spacing: 0.2rem;
}

.prices-icons {
    font-size: 300%;
    filter: brightness(65%);
    padding-top: 1rem;
}

.prices-icon-1 {
    color: var(--color-natural-orange);
}

.prices-icon-2 {
    color: var(--color-spot-green);
}

.prices-icon-3 {
    color: var(--color-skip-grad-red);
}

.prices-outer-layout span {
    font-size: 200%;
}

/* style the button in prices section  */
.prices-button {
    background-color: var(--color-natural-orange);
    border: 4px solid white;
}

.prices-button:hover {
    background-color: white;
    border: 4px solid white;
    color: var(--color-natural-orange)
}


/* schedule is a flexbox in a mobile setting and a grid in a desktop display*/
.schedule {
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    padding: 0 10px 50px 0;
    max-width: 400px;
    width: 90%;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .schedule {
        padding: 0 10px;
    }
}


/* make times disappear on mobile */
.time-slot {
    display: none;
}

/* flex item of the current day - this should be just above the daily schedule on a mobile display */
.day {
    display: block;
    padding: 20px 5px 15px;
    font-size: 140%;
}

@media only screen and (min-width: 768px) {
    .day {
        background-color: transparent;
        color: var(--color-dark-discreet-brown);
        border-radius: 38px;
        margin-top: 35px;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        padding: 10px 5px 10px;
        font-size: 100%;
    }
}



/* define here the location on each session in a desktop setting */
@media only screen and (min-width: 768px) {
    .schedule {
        display: grid;
        border: 2px solid black;
        max-width: 1000px;
        grid-gap: 1rem;
        margin: 0 auto;
        grid-template-rows:
            [days] auto [time-0800] 1fr [time-0830] 1fr [time-0900] 1fr [time-0930] 1fr [time-1000] 1fr [time-1030] 1fr [time-1100] 1fr [time-1130] 1fr [time-1200] 1fr;
        grid-template-columns:
            [times] 4em [day-1-start] 1fr [day-1-end day-2-start] 1fr [day-2-end day-3-start] 1fr [day-3-end day-4-start] 1fr [day-4-end day-5-start] 1fr [day-5-end];
    }

    .time-slot {
        display: block;
        grid-column: times;
    }

    /* grid item of the current days. This should be in the first row on large displays.  */
    .day-monday {
        grid-column: day-1;
        grid-row: days/ time-0800;
    }

    .day-tuesday {
        grid-column: day-2;
        grid-row: days/ time-0800;
    }

    .day-wednesday {
        grid-column: day-3;
        grid-row: days/ time-0800;
    }

    .day-thursday {
        grid-column: day-4;
        grid-row: days/ time-0800;
    }

    .day-friday {
        grid-column: day-5;
        grid-row: days/ time-0800;
    }

    /* grid item of the individual classes on a mobile display. Since they lie on a 2D grid, their position is defined individually on large screens. */
    .monday-0800-0900 {
        grid-column: day-1;
        grid-row: time-0800 / time-0900;
    }

    .monday-0900-1000 {
        grid-column: day-1;
        grid-row: time-0900 / time-1000;
    }

    .monday-1000-1100 {
        grid-column: day-1;
        grid-row: time-1000 / time-1100;
    }

    .tuesday-0900-1000 {
        grid-column: day-2;
        grid-row: time-0900 / time-1000;
    }

    .wednesday-0800-0900 {
        grid-column: day-3;
        grid-row: time-0800 / time-0900;
    }

    .wednesday-0900-1000 {
        grid-column: day-3;
        grid-row: time-0900 / time-1000;
    }

    .wednesday-1000-1100 {
        grid-column: day-3;
        grid-row: time-1000 / time-1100;
    }

    .thursday-0900-1000 {
        grid-column: day-4;
        grid-row: time-0900 / time-1000;
    }

    .friday-1000-1100 {
        grid-column: day-5;
        grid-row: time-1000 / time-1100;
    }

}

/* styling of the individual classes  */
.yoga-beginner {
    background-color: var(--color-yoga-beginner);
    color: var(--color-light-white);
    padding: 0 10px;
    border-radius: 5px;
}

.yoga-vinyasa {
    background-color: var(--color-yoga-vinyasa);
    color: var(--color-dark-discreet-brown);
    padding: 0 10px;
    border-radius: 5px;
}

.yoga-ashtanga {
    background-color: var(--color-yoga-ashtanga);
    color: white;
    padding: 0 10px;
    border-radius: 5px;
}

/* to keep the color consistent between class description page and schedule page  */
.background-color-beginner {
    background-color: var(--color-yoga-beginner);
    filter: brightness(110%);
    color: var(--color-light-white); 
}

.background-color-vinyasa {
    background-color: var(--color-yoga-vinyasa);
    filter: brightness(110%);
}

.background-color-ashtanga {
    background-color: var(--color-yoga-ashtanga);
}

/* styling that all classes have in common */
.session {
    padding: .5em;
    border-radius: 2px;
    font-size: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

}

.class-title,
.class-time,
.class-teacher,
.class-link {
    display: block;
}

.time-slot {
    font-weight: bold;
}

/* styling of the section with contact and google maps. if mobile screen, display address details and map as two blocks*/
.contact-container {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
    margin-bottom: 3rem;
    max-width: 1400px;
    margin: auto;
    padding: 3rem 0;
}

.contact-container>div:first-child {
    line-height: 1.7;
    align-self: center;
}

.contact-container>div:last-child {
    line-height: 1.7;
    width: 85%;
    align-self: center;
}

#map {
    width: 100%;
    min-height: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

/* for tablet sizes, increase the size of the map a bit */
@media only screen and (min-width: 768px) {

    .contact-container {
        flex-direction: column;
        padding-bottom: 3rem;

    }

    .contact-container>div {
        min-width: 200px;
    }
}

/* for desktop sizes,  place the address next to the map in flex way */
@media only screen and (min-width: 1000px) {
    .contact-container {
        flex-direction: row;
        padding: 0 32px;
    }

    .contact-container>div:last-child {
        width: 70%;
    }
}

/* styling of the footer  */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 200px;
    text-transform: uppercase;
    background-color: var(--color-natural-orange);
    color: var(--color-dark-discreet-brown);
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 105%;
}

footer>div {
    margin: 0 auto;
}

.footer-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--color-dark-discreet-brown);
    padding-top: 1rem;
}

.footer-box i {
    color: var(--color-dark-discreet-brown);
}

/* to add a circle around the fontawseome icons */
.fa-circle:before {
    border-radius: 50%;
    border: 2px solid var(--color-dark-discreet-brown);
    background: var(--color-natural-orange);
    color: transparent;
}

footer p {
    padding: 25px 25px 0;
    font-size: 15px;
}

@media only screen and (min-width: 768px) {

    .footer {
        min-height: 150px;
    }

    .footer-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5rem;
    }

    footer p {
        padding-bottom: 20px;
    }

}

footer>a {
    padding: 0px 15px;
    font-size: 15px;
    font-weight: bold;

}

/* making a sticky footer with flex -> whole body is a flexbox in column direction */
.footer {
    flex-shrink: 0;
}

.content {
    flex: 1 0 auto;
}

/* styling for classes HTML page: columnar flexbox with the individual yoga classes as items */
.classes-container {
    display: flex;
    flex-direction: row;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    min-height: 500px;
    color: var(--color-dark-discreet-brown);
}

.classes-item {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
    align-content: center;
}

.light-font {
    color: var(--color-light-white);
}


/* styling for classes page  */
.page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    margin-top: 66px;

}

.page-header i {
    color: var(--color-natural-orange);
}

/* styling for each yoga as a row-oriented flexbox with the information pieces as items */
.class-details-container {
    display: flex;
    flex-direction: column;
}

.class-detail-item {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-content: center;
    margin: 5px 10px;
    padding: 10px 10px;
    line-height: 1.5;
}

.class-detail-item h2 {
    padding: 20px 0;
    text-align: center;
    font-size: 1.7rem;
    font-family: 'Montserrat Alternates', sans-serif;
    letter-spacing: 2.2px;
}

/*  images for the class page for mobile screens */
.classes-image-small {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 20px;
}

/* to emphasize items inside the classes details  */
.emphasize {
    padding: 10px 0 10px;
    font-size: 120%;
    font-weight: 900;
}

/* ... and less emphasize the times */
.less-emphasize {
    letter-spacing: 3px;
    padding: 5x 0 5px;
    filter: brightness(65%);

}

#beginner-image-small {
    background: url("../images/alaistar-small.jpg") no-repeat center center;
    background-size: 200px;
}

#vinyasa-image-small {
    background: url("../images/beginner-2-small.jpg") no-repeat center center;
    background-size: 200px;
}

#ashtanga-image-small {
    background: url("../images/jean-teacher.jpg") no-repeat center center;
    background-size: 200px;
}

/* change display of class images slighlty when displayed on tablet screens  */
@media only screen and (min-width: 768px) {

    /* increase size of the small circular image on larger displays */
    .classes-image-small {
        width: 200px;
        height: 200px;
        /* margin-top: 50%; */
    }

}

/* make classes page responsive :  column on mobile screen and two columns on desktop screens÷ */
#flexContainer {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin: 0 auto;
    width: 90%;
    padding-bottom: 4rem;
    justify-content: center;
    align-items: center;
}


/* make classes page responsive : for large displays i.e. desktops split the view in two columns */
@media only screen and (min-width: 1200px) {

    #flexContainer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
}

/* style the signup html page  */
.signup-image {
    background: url("../images/signup-mobile.jpg") no-repeat center center;
    background-size: cover;
    background-position: center;
    box-shadow: none;
    align-items: center;
}

/* style signup page for larger displays  */
@media only screen and (min-width: 768px) {
    .signup-image {
        background: url("../images/signup-wide.jpg") no-repeat center center;
    }
}

/* style the form of the signup page   */
.flex-form {
    display: flex;
    justify-content: space-around;
    text-align: left;
    gap: 0.6rem;
    /* max-width: 480px ; */
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .5);
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto;
}

/* style the title of the form */
.flex-form>li>h3 {
    padding: 0.8rem 0;
}

/* style the font style and positions of the form items and boxes  */
.flex-form>li>label {
    min-width: 8rem;
}

.flex-form>li>input {
    width: 100%;
}


.flex-form li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    flex: 1;
}


@media only screen and (min-width: 768px) {
    .flex-form {
        justify-content: center;
    }

    /* change position of form labels for large screens  */
    .flex-form li {
        justify-content: center;
    }

    .flex-form>li>input {
        width: auto
    }


}

.flex-form>li>* {
    min-width: 220px;
}

.flex-form input[type="text"],
.flex-form input[type="email"],
.flex-form input[type="date"],
textarea {
    border-radius: 4px;
    padding: 5px;

}

.flex-form>li>ul>* {
    line-height: 2rem;
}

/* style the submit buttons  */
.flex-form input[type="submit"] {
    margin-top: 2rem;
    border-radius: 38.1px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    background-color: var(--color-natural-orange);
    border: 4px solid var(--color-natural-orange);
    color: var(--color-dark-discreet-brown);
    letter-spacing: 0.05rem;
}

.flex-form input[type="submit"]:hover {
    background-color: transparent;
    border: 4px solid var(--color-spot-green);
    color: white;
}

/* for large screens increase font size compared to mobile */
@media only screen and (min-width: 1000px) {
    .flex-form {
        font-size: 120%;
    }
}