/* general styling rules */
* {
    margin: 0 ;
    padding: 0;
    border: none;
}   

/* styling of the navigation elements */
.main-nav {
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    height: 100px;
}

.main-nav > li {
    align-self: center;
    padding: 10px 15px;
}

.push {
    margin-left:auto;
}

.no-wrap{
    flex-shrink: 0;
  }

/* These are the imported fonts from google fonts  */
body{
    font-family: 'Montserrat Alternates', sans-serif;
}

h1 {
    font-family: 'Lato', sans-serif;
}

h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

/* add hero image section  */
#hero-image {
    height: 600px;
    width: 100%; 
    background: url("/assets/images/hero-image-mobile.jpg") no-repeat center center;
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;

}

/* welcome message on hero image */
#hero-text {
    color:   #54433A;
    position: absolute;
    opacity: 1.0;
    text-align: center;
    font-weight: 800;
    left:70%;
    bottom:  50%;
}

#hero-text h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
}

/* add a button style to the page */
.button {
    background-color: #AFC9B4;
    border: 0;
    color: white;
    font-weight: 600;
    line-height: 1;
    margin-top: 1.5rem;
    padding: 0.5rem;
    width: 90%;
    border-radius: 5px; 
}

/* Media query to make button look smaller on larger screen */
@media screen and (min-width: 1000px) {
    .button {
        width: 100px;
    }
}

/* style elements for the studio ethos */
#studio-ethos {
    height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%; 
}

#studio-ethos > div {
    line-height: 140%;
    padding: 20px 0;
}

#studio-ethos h1 {
    font-weight: bold;
}

#studio-ethos p {
    margin-top: 20px;
    text-align: left;
}

/* style flexbox elements for the schedule section of the main page */
.schedule {
    display: grid;
    grid-gap: 1rem;
    grid-template-rows:
        [days] auto 
        [time-0800] 1fr
        [time-0830] 1fr
        [time-0900] 1fr
        [time-0930] 1fr
        [time-1000] 1fr
        [time-1030] 1fr
        [time-1100] 1fr
        [time-1130] 1fr
        [time-1200] 1fr;
    grid-template-columns: 
        [times] 4em
        [day-1-start] 1fr
        [day-1-end day-2-start] 1fr
        [day-2-end day-3-start] 1fr
        [day-3-end day-4-start] 1fr
        [day-4-end day-5-start] 1fr
        [day-5-end];
}

.time-slot {
    grid-column: times;
}

@supports( display:grid ) {
    @media screen and (min-width:700px) {
      .day-slot {
        display: block;
        padding: 10px 5px 5px;
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: rgba(255,255,255,.9);
      }
    }
  }

.yoga-beginner {
    background-color: #54433A;
    color: white;
    padding: 0 10px;
    border-radius: 5px; 
}

.yoga-vinyasa {
    background-color: #AFC9B4;
    color: white;
    padding: 0 10px;
    border-radius: 5px; 
}

.yoga-ashtanga {
    background-color: #7A937F;
    color: white;
    padding: 0 10px;
    border-radius: 5px; 
}

.session {
    padding: .5em;
    border-radius: 2px;
    font-size: 14px;
    box-shadow:
      rgba(255,255,255,.6) 1px 1px 0,
      rgba(0,0,0,.3) 4px 4px 0;
  }

.class-title,
.class-time,
.class-teacher,
.class-link {
  display: block;
}

.time-slot {
  font-weight: bold;
}
