/* general styling rules */
* {
    margin: 0 ;
    padding: 0;
    border: none;
}   

/* styling of the navigation elements */
.main-nav {
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    height: 100px;
}

.main-nav > li {
    align-self: center;
    padding: 10px 15px;
}

.push {
    margin-left:auto;
}

.no-wrap{
    flex-shrink: 0;
  }

/* These are the imported fonts from google fonts  */
body{
    font-family: 'Montserrat Alternates', sans-serif;
}

h1 {
    font-family: 'Lato', sans-serif;
}

h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

/* add hero image section  */
#hero-image {
    height: 600px;
    width: 100%; 
    background: url("/assets/images/hero-image-mobile.jpg") no-repeat center center;
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;

}

/* welcome message on hero image */
#hero-text {
    color:   #54433A;
    position: absolute;
    opacity: 1.0;
    text-align: center;
    font-weight: 800;
    left:70%;
    bottom:  50%;
}

#hero-text h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
}

/* add a button style to the page */
.button {
    background-color: #AFC9B4;
    border: 0;
    color: white;
    font-weight: 600;
    line-height: 1;
    margin-top: 1.5rem;
    padding: 0.5rem;
    width: 90%;
    border-radius: 5px; 
}

/* Media query to make button look smaller on larger screen */
@media screen and (min-width: 1000px) {
    .button {
        width: 100px;
    }
}

/* style elements for the studio ethos */
#studio-ethos {
    height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%; 
}

#studio-ethos > div {
    line-height: 140%;
    padding: 20px 0;
}

#studio-ethos h1 {
    font-weight: bold;
}

#studio-ethos p {
    margin-top: 20px;
    text-align: left;
}

/* style flexbox elements for the schedule section of the main page */
.container {
    display: flex;
    flex-flow: row no-wrap;
    justify-content: flex-start;
}

.item {
    background-color: cornflowerblue;
    margin: 0 auto;
    padding: 10px;
}